                                /* CARDS */


 #FRUITS_CONTAINER_CARDS{
margin-left: 5%;
margin-top: 5%;
margin-right: 5%;
                  }
                              
.card{
                              
padding-top: 5%;
padding-left: 5%;
padding-bottom: 5%;
padding-right: 5%;
display: inline;
float: left;
width: 15%;
                  }
                              
                  /* MODAL */
                              
#modalBoton{
position: relative;
left: 65%;
display: inline;
margin-top: -4%;
                 }


                              /* CARRITO */
 #img{
     width: 4%;
    }

 .carrito_logo{
position: relative;
left: 85%;
margin-top: -4.3%;
display: inline;
 }